
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/back.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: sticky;
}
ul{
  float: right;
  list-style-type: none;
  margin-top: 25px;
}
ul li{
  display: inline-block;
}
ul li a{
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 1px solid transparent;
  transition: 0.6s ease;
}
ul li a:hover{
  background-color: #fff;
  color: #111;
}
ul li.active a{
  background-color: #fff;
  color: #111;
}
.logo {
  float: left;
}
.logo p{
  text-decoration: none;
  color: rgb(229, 232, 233);
  padding: 5px 20px;
  font-size: 30px;
  margin-top: 25px;
}
span{
  color: #ff0000;
}
.main{
  max-width: 1200px;
  margin: auto;
}
.title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.title h1{
  color: #fff;
  font-size: 50px;
  font-style: italic;
}
.title p{
  color: #fff;
  font-size: 20px;
  font-style: inherit;
}

#about {
  height: 100vh;
  background-color: #c7c7c7;
}

#services {
  height: 100vh;
  background-color: #855353;
}
#portfolio {
  height: 100vh;
  background-color: #70b79c;
}
#contact {
  height: 100vh;
  background-color: #469b3e;
}
#footer {
  height: 30;
  background-color: rgb(205, 141, 141);
}

.aboutMe {
    padding-top: 64px;
    margin-top: 64px;
    /*
    width: 1745.330px;
    height: 539.594px;
    */
}
.heading {
    text-align: center;
    font-size: 38.4px;
    width: 1296px;
    height: 48px;
    font-family: "Segoe UI";
    margin-bottom: 8px;
}
.container {
    width: 1296px;
    height: 491.594px;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 24px;
    margin-right: 212.667px;
    margin-left: 212.667px;
    margin-top: 24px;
    column-count: 2;
    
}
.desc {
    width: 1320px;
    height: 419.594px;
    margin-right: -12px;
    margin-left: -12px;
    margin-top: 24px;
}
.desc-left {
    /*width: 296px;
    height: 424px;*/
    padding-left: 12px;
    padding-top: 12px;
}
.desc-right {
    
    width: 856px;
    height: 419.594px;
    padding-left: 12px;
    padding-top: 12px;
    
}

.para1 {
    
    font-family: "Segoe UI";
    font-size: 16px;
    width: 856px;
    height: 72px;
    margin-bottom: 16px;
}
.row1 {
    width: 880px;
    height: 88px;
    margin-left: -12px;
    margin-right: -12px;
    margin-top: 16px;
    font-family: "Segoe UI";
    font-size: 16px;
}
.col-md-6 {
    /*flex: 0 0 auto;
    width: 50%;*/
    width: 416px;
    height: 88px;
    padding-right: 12px;
    padding-left: 12px;
    column-count: 2;
}
.ul {
    margin-bottom: 1rem;
    padding-left: 2rem;
    box-sizing: border-box;
}
.list {
    font-family: "Segoe UI";
    font-size: 16px;
    width: 384px;
    height: 72px;
    padding-left: 32px;
    margin-bottom: 16px;
}
.row2 {
    width: 880px;
    height: 136px;
    margin-top: 16px;
    padding-left: -12px;
    padding-right: -12px;
}
.para2 {
    
    font-family: "Segoe UI";
    font-size: 16px;
    width: 856px;
    height: 120px;
    margin-bottom: 16px;
    padding-left: 12px;
    padding-right: 12px;
}