
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body classes*/
body {
  display: grid;
  grid-template-rows: 0px auto auto;
  background-color: #eee;
}

/* navbar classes */
.navbar {
	position: sticky;
	top:0px;
}
.navbar ul {
	position: absolute;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	right:0px;
	top: 8px;
}
.navbar li {
  float: left;
}
.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar li a:hover {
  background-color: #111;
}

.activelink {
  background-color: #4CAF50;
}

/* mainbody classes*/
.mainbody
{
	display: grid;
	grid-template-rows: auto auto auto auto auto;
	background-color: #ccc;
}

/* Homee classes*/
.logo {
  position: absolute;
	top: 8px;
	left: 16px;
}
.logo p{
  text-decoration: none;
  color: rgb(229, 232, 233);
  padding: 5px 20px;
  font-size: 30px;
  margin-top: 25px;
}
span{
  color: #ff0000;
}
.main{
  max-width: 1200px;
  margin: auto;
}
.title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.title h1{
  color: #fff;
  font-size: 50px;
  font-style: italic;
}
.title p{
  color: #fff;
  font-size: 20px;
  font-style: inherit;
}

/* about classes*/
	
.about
{
	height: 100vh;
	background-color: rgb(119, 255, 180);
}
	
/* services classes*/
	
.services
{
  height: 100vh;
	background-color: rgb(102, 156, 255);
}
	
/* portfolio classes*/
	
.portfolio
{
  height: 100vh;
	background-color: rgb(255, 224, 85);
}
	
/* contacts classes*/
	
.contacts
{
  height: 100vh;
	background-color: rgb(255, 68, 227);
}


/* footer classes*/
	
.footer
{
	background-color: rgb(187, 187, 187);
	text-align: center;
	color: blue;
}
