
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body classes*/
body {
  display: grid;
  grid-template-rows: 0px auto auto;
  background-color: #eee;
}

/* navbar classes */
.navbar {
	position: sticky;
	top:0px;
}
.navbar ul {
	position: absolute;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	right:0px;
	top: 8px;
}
.navbar li {
  float: left;
}
.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar li a:hover {
  background-color: #111;
}

.activelink {
  background-color: #4CAF50;
}

/* mainbody classes*/
.mainbody
{
	display: grid;
	grid-template-rows: auto auto auto auto auto;
	background-color: #ccc;
}

/* Homee classes*/
.logo {
  position: absolute;
	top: 8px;
	left: 16px;
}
.logo p{
  text-decoration: none;
  color: rgb(229, 232, 233);
  padding: 5px 20px;
  font-size: 30px;
  margin-top: 25px;
}
span{
  color: #ff0000;
}
.main{
  max-width: 1200px;
  margin: auto;
}
.title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.title h1{
  color: #fff;
  font-size: 50px;
  font-style: italic;
}
.title p{
  color: #fff;
  font-size: 20px;
  font-style: inherit;
}

/* about classes*/
	
.about
{
	background-color: rgb(255, 255, 255);
}

.allHeading {
  text-align: center;
  font-size: 38.4px;
  width: auto;
  height: 48px;
  font-family: "Segoe UI";
  margin-bottom: 8px;
  color:#464545
}

.desccontainer {
  width: auto;
  height: 491.594px;
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 24px;
  margin-top: 24px;
  display: grid;
  grid-template-columns: auto auto;
}

.desc-left {
  padding-left: 12px;
  padding-top: 12px;
}
.desc-right {
  
  width: auto;
  height: 419.594px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 12px;
  
}

.para1 {
  
  font-family: "Segoe UI";
  font-size: 16px;
  height: 72px;
  margin-bottom: 16px;
}

.row1 {
  height: 88px;
  margin-left: -12px;
  margin-right: -12px;
  margin-top: 16px;
  font-family: "Segoe UI";
  font-size: 16px;
}

.col-md-6 {
  /*flex: 0 0 auto;
  width: 50%;*/
  width: 416px;
  height: 88px;
  padding-right: 12px;
  padding-left: 12px;
  column-count: 2;
}

.col-md-6 .list {
  margin-bottom: 1rem;
  padding-left: 2rem;
  box-sizing: border-box;
}

.para2 {
  
  font-family: "Segoe UI";
  font-size: 16px;
  height: 120px;
  margin-bottom: 16px;
  padding-left: 12px;
  padding-right: 12px;
}


	
/* services classes*/
	
.services
{
	height: 100vh;
	background-color: rgb(102, 156, 255);
}
	
/* portfolio classes*/
	
.portfolio
{
	height: 100vh;
	background-color: rgb(255, 224, 85);
}
	
/* contacts classes*/
	
.contacts
{
	height: 100vh;
	background-color: #fff;
  padding-left: 124px;
  padding-right: 124px;
}
	
.contactColumn
{
  padding-top: 24px;
  float: left;
  width: 50%;
}	
input[type=text] {
  width: 90%;
  padding: 15px 12px;
  margin: 8px 0;
  border: 2.2px solid #cac9c9;
  border-radius: 5px;
  font-family: "Segoe UI";
  font-size: 16px;
  box-sizing: border-box;
}
input[type=email] {
  width: 90%;
  padding: 15px 12px;
  margin: 8px 0;
  border: 2.2px solid #cac9c9;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Segoe UI";
}
.textArea {
  width: 90%;
  border: 2.2px solid #cac9c9;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 15px 12px;
  margin: 8px 0;
  font-size: 16px;
  font-family: "Segoe UI";
}
.buttonStyle
{
  background-color: #198754; /* Green */
  border-radius: 4px;
  border: 2.2px solid #198754;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Segoe UI";
}
/* footer classes*/
	
.footer
{
	background-color: rgb(255, 187, 187);
	text-align: center;
	padding-bottom:10px;
	padding-top:10px;
}

.footer h1 {
	color: white;
	text-shadow: 1px 1px 2px black, 0 0 15px blue, 0 0 5px darkblue;
}
